*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.headerl{
    width: 1440px;
    height: 112px;
    background-color: #0068FF;

    left: 0px;
    top: 0px;
}
.privco{
    padding: 50px;
}

.fa-bell-o, .fa-user-circle-o{
    color: #FDFEFF;
    position: absolute;
    left: 13.44%;
    right: 13.49%;
    top: 9.04%;
    bottom: 14.46%;
    
    /* Tints/White 100 */
    
    color: #FDFEFF;
    padding-left: 990px;
    padding-top: -5px;   
}
.fa-user-circle-o{
    padding-left: 1080px; 
}


.sidenav{
    width: 396px;
    height: 912px;
    background: #F7FAFF;
    box-shadow: 0px 32px 16px;
    padding-top: 80px;
   

}
.dashboard{
    width: 300px;
height: 64px;
padding: 10px;
margin-left: 20px;
margin-bottom: 50px ;
margin-top: 50px;
}
.sidenav:hover{
    border: 5px solid rgba(42, 129, 255, 0.15);
    overflow: hidden;
}
.sidenav a{
    width: 283px;
    height: 37px;
    font-family: 'AktivGrotesk-Regular';
    font-size: 32px;
    line-height: 38px;
    color: #7B7D80;
    margin: auto;
    display: block;
    padding-bottom: 100px;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    text-decoration-color: purple;
}
a{
    width: 202px;
height: 37px;

/* Web/Medium/Regular */

font-family: 'AktivGrotesk-Regular';
font-size: 32px;
line-height: 38px;

/* Tints/Grey 3 */

color: #7B7D80;

}
.content{
    background-color: rgb(195, 195, 218); 
    width: 1157px;
    height: 912px;
}
.welcomeback{
    position: absolute;
width: 436px;
height: 56px;
left: 436px;
top: 140px;

/* Web/Heading 5/Bold */

font-family: 'Neue Helvetica';
font-style: normal;
font-weight: 700;
font-size: 44px;
line-height: 56px;
text-align: center;

/* Tints/Grey 2 */

color: #525355;
}
